<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.dao.SubscribeDao">
    <select id="selectSubscriber" resultType="map">
        select * from subscribe s,address a ,users u,timeSlice t
        where s.userid=u.id and a.id=s.addressid and s.subquantumdate=t.id and orderstate=0 and s.userid=#{userid}
    </select>

    <insert id="addSubscribe" parameterType="com.aaa.entity.Subscribe">
      insert into subscribe(userid,addressid,subdate,subquantumdate,createtime,orderstate,remark)
      values(#{userid.id},#{addressid.id},#{subdate},#{subquantumdate.id},NOW(),0,#{remark})
    </insert>
</mapper>