<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.SubscribeOrderDao">
    <select id="selSubOrder" resultType="map">
        select u.subscribeid,u.ordernum,u.createtime,u.orderstate,c.realname,c.phone  from
				collector t inner join  collectorauthenticate c  on
				t.userid=c.userid  inner join subscribeorder u on t.id=u.collectorid
				inner join subscribe s on  s.id=u.subscribeid
    </select>
</mapper>